@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

$small-spacing: 10px;
$large-spacing: 20px;

$navbar-height: 70px;

$background-colour: lavender;
$accent-colour: silver;
$primary-colour: steelblue;

.primary-font {
    font-family: 'Cutive Mono', monospace;
    font-size: x-large;
}