@import './globalStyles.scss';

html, body, #root {
  //height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  @extend .primary-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-colour;
}