@import './globalStyles.scss';

.record-form {

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: calc(100vh - 70px);
    max-height: calc(100vh - 70px);

    .player-selector-wrapper {
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        overflow-y: auto;
    }

    .divider {
        text-align: center;
        font-size: x-large;
        margin: $small-spacing;
        padding: $small-spacing;
        background-color: $primary-colour;
    }
    
    
    .submit-button {
        @extend .primary-font;
        border: none;
        background-color: green;
        font-weight: bold;
    }

}