@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

$small-spacing: 10px;
$large-spacing: 20px;

$navbar-height: 70px;

$background-colour: #3A3A3C;
$accent-colour: #E2CC9F;
$primary-colour: #FFFFFF;
$other-colour: #696E80;

.primary-font {
    font-family: 'Cutive Mono', monospace;
    font-size: x-large;
}

button {
    @extend .primary-font;
    border: none;
    font-weight: bolder;
}