@import './globalStyles.scss';

body {
  margin: 0;

  @extend .primary-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-colour;

  user-select: none;

  div, button, input {
    border-radius: 5px;
  }
}