@import './globalStyles.scss';

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    height: $navbar-height;
    background-color: $primary-colour;

    button {
        flex-grow: 1;
        background-color: $accent-colour;
        padding: $small-spacing;
    }
}