@import './globalStyles.scss';

.player-selector {
    margin: $large-spacing;
    padding: $large-spacing;
    background-color: $accent-colour;

    text-align: center;
    overflow-y: auto;

    .player-option {
        padding: $small-spacing/2;
        &.selected {
            background-color: $primary-colour ;

            input {
                background-color: $primary-colour;
                border-color: $primary-colour;
            }
        }

        input {
            @extend .primary-font;
            text-align: center;
            background-color: $accent-colour;
            width: 98%;
        }
    }
}